# docker DB 환경변수
USER_ID=root
MYSQL_ROOT_PASSWORD=test
DB_USER = root
DB_PASSWORD=test

MYSQL_USER=team3
MYSQL_PASSWORD=team3
TZ=Asia/Seoul
DB_PORT = 330

DB_HOST=host:port

MYSQL_DATABASE=team3
DB_NAME=team3

# node backend 환경변수
NODE_ENV=production
